.loader__container--text {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}


.loader__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loader__container--animation {
  height: 50px;
  margin: auto 0;
  text-align: center;
  position: relative;
  width: 50px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  &:before,
  &:after {
    animation: pulse-loader infinite 2s;
    box-shadow: 0 0 5px #68c0f3;
    border-radius: 50%;
    border: 3px solid #0066a1;
    content: '';
    display: block;
    height: 100%;
    left: -#{3px};
    opacity: 0;
    position: absolute;
    top: -#{3px};
    width: 100%;
  }

  &:after {
    animation-delay: 2s / 2;
  }
}

@keyframes pulse-loader {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: scale(1)
  }
}
