.details__tab {
  flex-grow: 1;
  background-color: rgb(235, 235, 235);
  color:#272D34 ;
  border: 0px;
  width: 100%;
  height: 78px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }

  @media all and (max-width:728px) {
    display: none;
  }
}
.details__tab--selected {
  border-bottom: 0px;
  background-color: white;
}

.details__tab--left {
  border-top-left-radius: 30px;
}

.details__tab--right {
  border-top-right-radius: 30px;
}
