
.summary-allGraphs{
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;

}
.summary-firstGraph {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.summary-secondGraph {
  background-color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.summary-secondGraphOpen{
  height: 100%;
  width: 100%;
}

.recharts-wrapper {
  width: 400px;
}

.summary-secondGraphOpenPie{
  width: 100px;
  height: 10px;
}
