.app--card-reviewer{
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid grey;
  width: 220px;
  min-height: 185px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.app--card-image-reviewer{
  border-radius: 50%;
  max-width: 70px;
  height: 70px;
}

.app--card-image-reviewers{
  border-radius: 50%;
  max-width: 70px;
  height: 70px;
}

