.app__footer {
    height: 40px;
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 40px auto 0 auto;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app__footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo-image {
    height: 18px;
    width: auto;
}

.app__footer-students {
    display: flex;
    justify-content: space-around;
}

.app__footer-student-name {
    margin-left: 3px;
}

.app__footer-student {
    text-decoration: none;
    color: #838181;
    font-size: 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.app__footer-student-lastname {
    display: none;
}

@media all and (min-width: 768px) {
    .app__footer {
        height: 55px;
        max-width: 768px;
    }
    .footer-logo-image {
        height: 27px;
    }
    .app__footer-student {
        font-size: 13px;
        margin-left: 28px;
    }
    .app__footer-student-lastname {
        display: inline-block;
    }
}

@media all and (min-width: 1200px) {
    .footer-logo-image {
        height: 40px;
    }
    .app__footer-student-name {
        margin-left: 5px;
    }
    .app__footer-student {
        font-size: 16px;
        margin-left: 60px;
    }
}
