.prcard__container {
    border: 1px solid black;
    min-height: 300px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.dateandcomments__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.dateandcomments__container::before {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: 2px;
}

.prcard__date {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
}

.prcard__numcomments {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.prcard__title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    @media all and (min-width: 768px) {
        text-align: center;
        padding-bottom: 0px;
    }
}

.arrow {
  @media all and (min-width: 768px) {
    color: pink;
}
}

.users__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
